body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    height: 100%;
    width: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.sidepanel {
    position: fixed;
    display: flex;
    top: 0px;
    right: 0px;
    width: 15em;
    height: 100%;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.2);
}

.sidepanel .node-info {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: dashed 1px black;
}

.sidepanel .node-info div {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.bottompanel {
    position: fixed;
    display: flex;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 18em);
    height: 1.5em;
    padding: 0.5em;
    flex-direction: row;
    gap: 1em;
}

.bottompanel .right {
    margin-left: auto;
}

.action-zone {
    position: fixed;
    display: flex;
    top: 7em;
    left: 0px;
    width: 10em;
    height: fit-content;
    padding: 0.5em;
    flex-direction: column;
    gap: 1em;
}

.action-zone input {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.action-zone input.fade-out {
    opacity: 0;
}

.action-zone input.hidden {
    display: none;
    pointer-events: none;
}